$secondGrade-bg-color : #4b0333;
$secondGrade-font-color:#5f0240;

.overlay2grade {
    background-image: url(../images/slider2.jpeg);
    width: 100%;
    height: 450px;
    background-size: cover;
    background-position: center;
    position: relative;
    margin-bottom: 200px;
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba($secondGrade-bg-color , 0.8);
        z-index: 2;
    }

    .rightCol {
        padding-top: 190px;

        h1,h3 {

            color: $white-color;
            z-index: 4;

            @media (max-width:768px) {
                font-size: xxx-large;
            }

            @media (max-width:576px) {
                font-size: xx-large;
            }
        }

        img {
            z-index: 4;
        }
    }

    .leftCol {
        z-index: 3;

        img {
            margin-top: 120px;
            max-width: 600px;

            @media (max-width:1200px) {
                max-width: 500px;
            }

            @media (max-width:992px) {
                max-width: 400px;
            }

            @media (max-width:768px) {
                max-width: 380px;
                margin-top: 30px;
            }

            @media (max-width:576px) {
                max-width: 340px;
                margin-top: 30px;
            }
        }

    }
}

.aboutStudent2grade {
    @media (max-width:768px) {
        padding-top: 350px;
    }
    @media (max-width:576px) {
        padding-top: 300px;
        
    }
    .aboutStudentTitle2grade {
        color: $secondGrade-font-color;
        @media (max-width:768px) {
            padding-top: 50px;
        }
    }
    .aboutrow {
        h4 {
            color: $main-color;
            
            
        }
        p{
            color: $gray-color;
            font-size: larger;
        }
    }
}



.howtobeFirstsudent {
    @media (max-width:768px) {
        padding-top: 30px;
    }
    .custom-accordion-header {
        padding: 0.64rem 1rem; 
        font-size: 1rem; 
    }
    .accordion-button:not(.collapsed) {
        box-shadow: none; /* Removes the shadow */
    }

    .accordion-button:not(.collapsed) {
        background-color: $secondGrade-font-color; 
        color: white; 
    }
    
    //hide origila bs5 arrows
    .accordion-button:not(.collapsed)::after {
        /* Hide the default arrow */
        display: none;
    }
    
    .accordion-button:not(.collapsed) {
        /* Add your own custom arrow icon */
        position: relative;
    }
    //add fa arrows
    .accordion-button:not(.collapsed)::before {
        /* Using FontAwesome icon */
        content: "\f077"; /* FontAwesome arrow icon */
        font-family: "FontAwesome";
        position: absolute;
        left: 1.25rem;
        top: 50%;
        transform: translateY(-50%);
        color: white; /* Set the color */
    }
}


.lastdiv2grade {
    margin-top: 25px;
    h2{
        color: $secondGrade-font-color;
    }
}
.copyright {
    background-color: $gray-dark-color;
    color: $gray-color;
}