@font-face {
    font-family: "janna";
    src: local ("janna"), url("../fonts/janna.woff") format("woff");
    font-weight: normal;
}

@font-face {
    font-family: "janna";
    src: local ("janna"), url("../fonts/janna-bold.woff") format("woff");
    font-weight: bold;
}

@import 'bootstrap/dist/css/bootstrap.rtl.min.css';
@import '@fortawesome/fontawesome-free/css/all.min.css';
@import 'config/variables.scss';
@import 'config/mixins';
@import 'config/swiper.scss';
@import 'studentStyle.scss';


* {
    padding: 0;
    margin: 0;
}

body {
    font-family: janna;
}

header {
    .navbar {
        border-bottom: 1px solid $gray-color;
        background-color: $main-bg-color;
        transition: ease-in-out .5s;

        &-brand {

            font-size: 25px;
        }

        #logo {
            width: 80px;
        }

        .nav-link {
            color: $black-color;
            font-size: 20px;
            margin-left: 15px;
            transition: all .5s;

            &:hover {
                color: $main-color;
                text-decoration: underline;
                text-underline-offset: 8px;
            }

            @media (max-width: 991.98px) {
                margin-right: 10px;

            }
        }

        .login {
            position: relative;

            i {
                font-size: 30px;
                margin-left: 15px;
                color: $main-color;
                cursor: pointer;
            }

            @media (max-width: 992px) {
                margin-right: 15px;
                margin-bottom: 10px;

                &-container {
                    display: none;
                }

                i {
                    display: none;
                }
            }

            &-container {
                box-shadow: $gray-color 0px 0px 50px;
                position: absolute;
                width: 240px;
                height: 70px;
                background-color: #fff;
                border: 1px solid $gray-color;
                text-align: center;
                padding-top: 22px;
                border-radius: 10px;
                top: 50px;
                right: -115px;
                visibility: hidden;
                transition: all .5s;
                z-index: 10;

                &::after {
                    position: absolute;
                    content: "";
                    width: 20px;
                    height: 20px;
                    background-color: #fff;
                    transform: rotate(45deg) translateX(50%);
                    top: -18px;
                    right: 52%;
                    border-top: 1px solid $gray-color;
                    border-left: 1px solid $gray-color;
                }

                .button {
                    @include button($main-color, $white-color, $main-color);
                    visibility: hidden;
                }
            }

            &:hover {
                .login-container {
                    visibility: visible;

                    .button {
                        visibility: visible;
                    }
                }
            }
        }

        .login-mobile {
            display: none;

            a {
                text-decoration: none;
                color: $black-color;
                font-size: 20px;

                &:hover {
                    color: $main-color;
                    text-decoration: underline;
                    text-underline-offset: 8px;
                }
            }


            i {
                font-size: 30px;
                margin-left: 10px;
                color: $main-color;

            }

            @media (max-width: 992px) {
                margin-right: 15px;
                margin-bottom: 10px;
                display: block;
            }
        }

        .login-button {
            .button {
                @include button($main-color, $white-color, $main-color);
                font-size: 16px;
                width: 50%;
                margin-top: 15px auto;
                text-align: center;
                display: none;
            }
        }

    }

}

.slider {
    margin-top: 100px;

    .carousel-item img {
        max-height: 600px;
        /* Replace 500px with the desired height */
    }

    .carousel-indicators button {
        border-radius: 50%;
        width: 12px;
        height: 12px;
        background-color: $main-color;

    }

    .carousel-indicators .active {
        background-color: darken($main-color , 30);
    }
}

.activites {
    .welcom-text {

        font-size: 22px;
        color: $gray-dark-color;

        @media (max-width: 992px) {
            width: 80% !important;
        }
    }


    h3 {
        color: $main-color;
    }

    i {
        color: $main-color;
    }

    .card {
        border-color: $card-brder-color;

        background-color: $main-bg-color;

        h5 {
            font-weight: bolder;
            color: $main-color;
            padding-bottom: 10px;
        }

        i {
            color: $main-color;
            padding-bottom: 30px;
        }

        .card-body {
            text-align: center;
        }
    }
}

.students h3 {
    color: $main-color;
}

.star {

    .start-title i:first-child,
    .start-title i:nth-child(2),
    .start-title i:nth-child(3) {
        margin-right: 10px;
        color: $golden;
    }

    .start-title i:nth-last-child(1),
    .start-title i:nth-last-child(2),
    .start-title i:nth-last-child(3) {
        margin-left: 10px;
        color: $golden;
    }

    .star-title {
        margin-left: 15px;
        margin-right: 15px;

    }

    .card-body {
        background-color: $golden;

        h5 {
            color: $black-color;
            font-size: 25px;
            font-weight: 600;
        }

        p {
            color: $gray-dark-color;
            font-size: 20px;


        }

        img {
            border-bottom-left-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
        }

        .detalis-btn {
            @include button($white-color, $gray-dark-color, $gray-dark-color );
        }
    }
}

.contact {
    background-color: $main-bg-color;
    position: relative;
    border-top: $gray-color solid 1px;


    h3 {
        color: $main-color;
    }

    i,
    span {
        color: $main-color;
    }

    iframe {

        // remove all pading in mobile version
        @media (max-width: 768px) {
            margin-top: 20px;
        }
    }

    .pinImg {
        max-width: 400px;


    }
}

.copyright {
    background-color: $gray-dark-color;
    color: $gray-color;
}